body{
	width: 100%;
	background-color: #FFFFFF;
	margin: auto;
}

/* HEADER */
header{
	background-color: #BE191E;
	height: 36px;
}
.contenedor{
	width: 80%;
	max-width: 1280px;
	margin: 0 auto;
}
.logotipo_gleads{
	width: 165px;
	margin-top: 12px;
}
/* PANEL REPORTE css nuevo */
.panel_reporte{
	float: right;
}
.reporte{
	margin:0 auto;
}
.icono_volver{
	width: 14px;
	padding-top: 10px;
	margin-right: 5px;
}
.icono_off{
	float: right;
	cursor: pointer;
}
.panel_boletin{
	float: right;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #FFFFFF;
	margin: 12px 10px 0 0;
}
.barra{
	color: #FFFFFF;
	width: 1px;
    height: 28px;
    padding-top: 3px;
}
.icono_off{
	width: 20px;
	float: right;
	margin: 8px 0 0 15px;
}
.btn_reporte{
	float: left;
	cursor: pointer;
}
/* FIN PANEL REPORTE fin css nuevo */

/* FIN HEADER */


/* ENCABEZADO */
.encabezado{
	background-color: #F9F9F9;
	height: 100px;
}
.contenedor_titulo{
	padding-top: 40px;
	float: left;
}
.contenedor_cliente{
	padding-top: 35px;
	float: right;
	text-align: right;
}
.titulo_boletin{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 700;
	margin-left: 10px;
	margin: 0;
	color: #666666;
	padding-bottom: 5px;
}
.cliente{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 300;
	margin-left: 10px;
	margin: 0;
	color: #888888;
}
.icono_cliente {
    float: right;
    width: 10px;
    margin: 3px 0 0 3px;
}
.icono_usuario {
    float: right;
    width: 10px;
    margin: 3px 0 0 3px;
}
/* FIN ENCABEZADO css nuevo  */


/* SELECT FILTROS */

.contenedor_filtrar{
	display: inline-block;
	width: 100%;
}
.select_filtros{
    background-color: #F3F3F3;
    padding-bottom: 20px;
}
.texto_filtrar{
	margin-top:37px;
	display:block;
	float:left;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 700;
    color: #666666;
    margin-right: 10px;
}
.selectClass {
	float:left;
	width: 200px;
	display:table;
	height: 35px;
	margin-top: 31px;
	margin-right: 10px;
}

/* FIN SELECT FILTROS */

.btn_descargar{
	width: 155px;
	height: 35px;
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 700;
	color: #FFFFFF;
	background-color: #FF5252;
	border-radius: 3px;
	margin-top: 32px;
	float: right;
	cursor: pointer;
}

.icono_descargar{
    margin-right: 8px;
    width: 17px;
    float: left;
    margin: 8px 6px 0 24px;  
}

.descargar{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: #FFFFFF;
    margin-top: 9px;
}

.btn_filtrar{
	width: 100px;
	height: 34px;
	float:left;
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 700;
	color: #FFFFFF;
	background-color: #9BA0AA;
	border-radius: 3px;
	margin-top: 32px;
	text-align: center;
	margin-left: 5px;
	cursor: pointer;
}

/* FIN ENCABEZADO */


/* RESUMEN MENSUAL */
.resumen_mensual{
	/*height: 158px;*/
	border-bottom: 1px solid #BE191E;
}

.resumen{
	width: 25%;
	display: inline-block;
	margin: 0 auto; 
	padding-top: 20px;
	margin: 0 -4px 0 0;
}

.nombre_resumen{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	margin: 0 auto;
	text-align: center;
}

.caja_totales{
	height: 45px;
	background-color: #EDF5FC;
	margin-top: 10px;
	padding-left: 30%;
}

.nombre_totales{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	float: left;
    margin: 15px 10px 0 10px;
}

.totales{
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	font-weight: 700;
	color: #5A86B5;
	float: left;
	margin: 3px 10px 0 0;
}

.caja_unicos{
	height: 45px;
	padding-left: 30%;
}

.nombre_unicos{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	float: left;
    margin: 15px 10px 0 10px;
}

.unicos{
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	font-weight: 700;
	color: #808080;
	margin: 3px 10px 0 0;
}
/* FIN RESUMEN MENSUAL */


/* C0NTENIDO CENTRAL */
.contenido_central{
	background-color: #F6F6F6;
	padding-top: 5px;
}
/* FIN CONTENDIO CENTRAL */


/* FUENTE DE TRAFICO */
.fuente_trafico {
	width: 80%;
	margin: 0 auto;
	max-width: 1280px;
}

.subtitulo{
	height: 40px;
}

.icono_fuente{
	width: 15px;
	float: left;
	padding-top: 23px;
	margin-right: 10px;
}

.nombre_section{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight:500;
	color: #4D4D4D;
	margin: 0;
	padding-top: 20px;
}

.caja_1{
	background-color: #FFFFFF;
	border-top: 1.3px solid #999999;
	border-right: 1px solid #E6E6E6;
	border-bottom: 1px solid #E6E6E6;
	border-left: 1px solid #E6E6E6;
	margin-bottom: 10px;
	margin-top: 20px;
}

.caja_por_portal{
	width: 460px;
	display: inline-block;
	margin-left: 10px;
	margin-top: 10px;
}

.por_portal{
	width: 190px;
	float: left;
}

.fondo_titulo_lista{
	text-align: center;
	height: 45px;
	background-color: #F2F2F2;
	border-bottom: 1px solid #DBDBDB;
	border-top: 1px solid #DBDBDB;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
    margin:0;
    color: #333333;
    width: 40%;
}



.fondo_portal{
	height: 45px;
	background-color: #FFFFFF;
	border-bottom: 1px solid #DBDBDB;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
}

.fondo_lista{
	height: 45px;
	background-color: #FFFFFF;
	border-bottom: 1px solid #DBDBDB;
	text-align: center;
}

.por_totales{
	width:135px;
	float: left;
}

.resul_totales{
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	font-weight: 500;
    margin:0;
    padding-top: 14px;
    color: #5A86B5;
    text-align: center;
}

.por_unicos{
	width:135px;
	float: left;
}

.resul_unicos{
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	font-weight: 500;
    margin:0;
    padding-top: 14px;
    color: #808080;
    text-align: center;

}

.caja_por_consulta{
	width: 460px;
	display: inline-block;
	margin-right: 10px;
	margin-top: 10px;
}

.por_consulta{
	width: 190px;
	float: left;
}

.fondo_consulta{
	height: 45px;
	background-color: #FFFFFF;
	border-bottom: 1px solid #DBDBDB;
}

.titulo_lista {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding-top: 14px;
    color: #333333;
    margin: 0 0 0 20px;
    padding-bottom: 15px;
    text-align: left;
}

/* FIN FUENTE DE TRAFICO */


/* RESUMEN DE COTIZACIONES */
.cotizaciones{
	width: 80%;
	margin: 0 auto;
	max-width: 1280px;
}

.icono_cotizaciones{
	width: 15px;
	float: left;
	padding-top: 25px;
	margin-right: 10px;
}

.caja_2{
	background-color: #FFFFFF;
	border-top: 1.3px solid #999999;
	border-right: 1px solid #E6E6E6;
	border-bottom: 1px solid #E6E6E6;
	border-left: 1px solid #E6E6E6;
	margin-bottom: 10px;
	margin-top: 20px;
}

.caja_cotizacion{
	margin: 10px;
}

table{
	width: 100%;
	border-spacing: 0;
}

.table-margin{
	margin: 10px 10px 20px 10px;
}

.items{
	height: 40px;
	width: 18%;
	font-family: 'Roboto', sans-serif;
	font-size: 11px;
	font-weight: 400;
	border-bottom: 1px solid #E6E6E6;
}

.nombre_items{
	height: 40px;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 500;
	text-align: center;
	border-bottom: 1px solid #E6E6E6;
}

.categoria{
	width: 5%;
	border-right: 1.5px solid #E6E6E6;
	border-bottom: 1px solid #E6E6E6;
}

.categoria_t{
	height: 25px;
	width: 5%;
	font-family: 'Roboto', sans-serif;
	font-size: 11px;
	font-weight: 300;
	text-align: center;
	border-spacing: 0;
	border-right: 1px solid #E6E6E6;
	border-bottom: 1px solid #E6E6E6;
}

.categoria_u{
	height: 25px;
	width: 5%;
	font-family: 'Roboto', sans-serif;
	font-size: 11px;
	font-weight: 300;
	text-align: center;
	border-spacing: 0;
	border-right: 1.5px solid #E6E6E6;
	border-bottom: 1px solid #E6E6E6;
	color: #808080;
	margin: 0;
}

.fila_gris{
   	background-color: #F2F2F2;
}

.proyecto{
	height: 30px;
	width: 20%;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 400;
	border-right: 1.5px solid #E6E6E6;
}

.left{
	margin: 0 0 0 10px;
}

.resultado_t{
	height: 30px;
	border-right: 1px solid #E6E6E6;
	width: 5%;
	font-family: 'Roboto', sans-serif;
	font-size: 11px;
	font-weight: 400;
	text-align: center;
}

.resultado_u{
	height: 30px;
	border-right: 1.5px solid #E6E6E6;
	width: 5%;
	font-family: 'Roboto', sans-serif;
	font-size: 11px;
	font-weight: 400;
	text-align: center;
}
/* FIN RESUMEN DE COTIZACIONES */


/* CATEGORIZACION */
.categorizacion{
	width: 80%;
	margin: 0 auto;
	max-width: 1280px;
}

.icono_origen{
	width: 15px;
	float: left;
	padding-top: 24px;
	margin-right: 10px;
}
.subtitulo_origen{
	width: 100%;
	margin: 0;
}

.icono_resumen{
	width: 15px;
	float: left;
	padding-top: 23px;
	margin-right: 10px;
}

.subtitulo_resumen_3A{
	width: 100%;
	float: left;
}

.subtitulo_resumen_3B{
	width: 100%;
	float: left;
	/*padding-left: 16px;*/
}

.subtitulo_resumen_left{
	height: 40px;
	width: 480px;
	float: left;
}

.caja_3{
	height: 400px;
}

.caja_3_A{
	width: 50%;
	float: left;
}

.caja_3_B{
	width: 50%;
	float: right;
}

.table_3B{
    /*height: 387px;*/
}

.caja_origen{
	width: 94%;
	border-top: 1.3px solid #999999;
	border-right: 1px solid #E6E6E6;
	border-bottom: 1px solid #E6E6E6;
	border-left: 1px solid #E6E6E6;
	float: left;
	margin: 20px 0 20px 0;
	background: #ffffff;
	height: 387px;
}


.caja_resumen{
	width: 100%;
	background-color: #FFFFFF;
	border-top: 1.3px solid #999999;
	border-right: 1px solid #E6E6E6;
	border-bottom: 1px solid #E6E6E6;
	border-left: 1px solid #E6E6E6;
	float: right;
	margin: 20px 0 20px 0;
	padding: 10px;
}

.categorizados_ejecutivos{
	width: 460px;
	float: left;
	margin: 10px 0 20px 10px;
}

.nombre_ejecutivo{
	width: 190px;
	float: left;
}

.fondo_ejecutivo{
	height: 45px;
	background-color: #FFFFFF;
	border-bottom: 1px solid #DBDBDB;
}

.nombre_lista {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 0 20px;
    padding-top: 14px;
}

.cat_ejecutivo{
	width:135px;
	float: left;
}

.resul_eject{
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	font-weight: 500;
    margin:0;
    padding-top: 14px;
    color: #808080;
}

.cat_ventas{
	width:135px;
	float: left;
}

.resul_ventas{
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	font-weight: 500;
    margin:0;
    padding-top: 14px;
    color: #808080;
}

.texto_info{
	margin-bottom: 10px;
}

.texto{
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 300;
}
b{
	font-weight: 500;
}
/* FIN CATEGORIZACION */


/* VOLUMEN DE PERSONAS */
.volumen_personas{
	width: 80%;
	margin: 0 auto;
	max-width: 1280px;
}

.icono_volumen{
	width: 15px;
	float: left;
	padding-top: 23px;
	margin-right: 10px;
}

.caja_4{

	background-color: #FFFFFF;
	/*border-top: 1.3px solid #999999;*/
	border-right: 1px solid #E6E6E6;
	border-bottom: 1px solid #E6E6E6;
	border-left: 1px solid #E6E6E6;
	margin-bottom: 10px;
	/*margin-top: 20px;*/
	height: 100%;
}
/* FIN VOLUMEN DE PERSONAS */


/* RESUMEN DE GESTIONES */
.gestiones{
	width: 80%;
	margin: 0 auto;
	max-width: 1280px;
}

.icono_gestion{
	width: 14px;
	float: left;
	padding-top: 23px;
	margin-right: 10px;
}

.caja_5{
	background-color: #FFFFFF;
	border-top: 1.3px solid #999999;
	border-right: 1px solid #E6E6E6;
	border-bottom: 1px solid #E6E6E6;
	border-left: 1px solid #E6E6E6;
	margin:20px 0 20px 0;
}

.caja_gestiones{
	margin: 10px 10px 20px 10px;
}

.categoria_ejecutivo{
	width: 160px;
	border-right: 1.5px solid #E6E6E6;
	border-bottom: 1px solid #E6E6E6;
}

.cat_cotizantes{
	height: 30px;
	width: 10%;
	font-family: 'Roboto', sans-serif;
	font-size: 11px;
	font-weight: 300;
	text-align: center;
	border-spacing: 0;
}

.cat_categorizados{
	height: 30px;
	width: 10%;
	font-family: 'Roboto', sans-serif;
	font-size: 11px;
	font-weight: 300;
	text-align: center;
	border-spacing: 0;
}

.colores{
	width: 160px;
	height: 3px;
	border-bottom: 1px solid #E6E6E6;
}

.gris{
	background-color: #CCCCCC;
}

.naranjo{
	background-color: #FF8805 ;
}

.rojo{
	background-color: #E7452C;
}

.amarillo{
	background-color: #FFEE00;
}

.ejecutivos{
	height: 30px;
	width: 20%;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 400;
	border-right: 1.5px solid #E6E6E6;
}

.resultado_cot{
	height: 30px;
	border-right: 1.5px solid #E6E6E6;
	width: 10%;
	font-family: 'Roboto', sans-serif;
	font-size: 11px;
	font-weight: 400;
	text-align: center;
}

.resultado_cat{
	height: 30px;
	border-right: 1.5px solid #E6E6E6;
	width: 10%;
	font-family: 'Roboto', sans-serif;
	font-size: 11px;
	font-weight: 400;
	text-align: center;
}

.fila_total{
   	background-color: #DCF4E9;
}

.resultado_cat_red{
	height: 30px;
	border-right: 1.5px solid #E6E6E6;
	width: 10%;
	font-family: 'Roboto', sans-serif;
	font-size: 11px;
	font-weight: 600;
	text-align: center;
	color: #FF5252;
}

.resultado_cot_red{
	height: 30px;
	border-right: 1.5px solid #E6E6E6;
	width: 10%;
	font-family: 'Roboto', sans-serif;
	font-size: 11px;
	font-weight: 600;
	text-align: center;
	color: #FF5252;
}

/* FIN RESUMEN DE GESTIONES */


/* FOOTER */
footer{
	background-color: #333333;
	height: 72px;
	margin-top: 40px;
}

.logotipo_tga{
	width: 55px;
    margin-top: 27px;
    float: left;
}

.texto_footer{
	width: 300px;
    margin-top: 25px;
    float: right;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
	font-size: 10px;
	font-weight: 400;
	text-align: right;
}
/* FIN FOOTER */


/* Table responsive*/
.table_responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table_1A{
	width: 100%;
	/*height: 340px;*/
}
.table_1B{
	width: 100%;
	/*height: 340px;*/
}

.table_responsive_1AB {
	margin-top: 10px;
	margin-right: 10px;
	display: block;
	width: 100%;
	height: 340px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

.table_responsive_3B {
	margin-right: 10px;
    display: block;
	 width: 100%;
	height: 367px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}
.caja_1 {
	display: inline-block;
	width: 100%;
	border:10px solid white;
	border-top: 1.3px solid #999999;
	border-right: 1px solid #E6E6E6;
	border-bottom: 1px solid #E6E6E6;
	border-left: 1px solid #E6E6E6;
	padding: 0 10px 20px 10px;
}


.caja_1A{
	width: 48%;
	height: 354px;
	float: left;
}

.caja_1B{
	width: 48%;
	height: 354px;
	float: right;
}

.datosgrafico_1{
    margin: 20px 0 0 0;
    background-color: #FFFFFF;
    border-top: 1.3px solid #999999;
    border-right: 1px solid #E6E6E6;
    border-left: 1px solid #E6E6E6;
    padding-bottom: 10px;
}

.dato{
    margin-left: 57px;
    margin-top: 20px;
    display: inline-block;
}

.porcentaje_1{
	font-size: 22pt; 
	color: #73879c; 
	font-weight: 600;
	margin-right: 10px;
}

.cotizantes_unicos{
	font-size: 12pt;
	color: #808080;
	display:  inline-block;
}

.no_gestionadas{
	font-size: 12pt; 
	color: #73879c; 
	font-weight: 600;
}

.porcentaje_2{
	font-size: 22pt; 
	color: #26b99a; 
	font-weight: 600;
	margin-right: 10px;
}

.si_gestionados{
	font-size: 12pt; 
	color: #26b99a; 
	font-weight: 600;
}
.img_no_asesor{
	padding-top: 14%;
    width: 65%;
    margin: 0 auto;
    display: table;
}

/* CAPTCHA*/
.btn_descargar_captcha{
	width: 155px;
    height: 35px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #FF5252;
    border-radius: 3px;
    cursor: pointer;
    margin: 0px 0px 0px 94px;
}

/* RESPONSIVE */

@media screen and (max-width:600px) { 
	.caja_1A {width: 100%;} 
	.caja_1B{ width: 100%;} 
	.caja_3_A{ width: 100%;} 
	.caja_3_B { width: 100%;}
}

@media screen and (max-width:980px) { 
	.datosgrafico_1 { margin-top: 30px;}
}

@media screen and (max-width:450px) { 
	.datosgrafico_1 { margin-top: 55px;} 
	.texto_footer { width: 215px; margin-top: 18px;} 
	.btn_descargar{ width: 63px; height: 50px; margin-top: 25px;} 
	.descargar{visibility: hidden;} 
	.icono_descargar { width: 28px; margin-left: 18px; } 
	.caja_origen{ width: 100%; }
}
@media screen and (max-width:318px) { 
	.texto_footer{	width: 200px;}
}

@media (max-width: 800px) { 
	.contenedor{ width: 90%;} 
	.fuente_trafico { width: 90%;} 
	.cotizaciones{ width: 90%; } 
	.categorizacion{ width: 90%; } 
	.volumen_personas{ width: 90%; }
	.gestiones{ width: 90%; } 
} 
.tabla_cotizacion{  -webkit-overflow-scrolling: touch; -ms-overflow-style: -ms-autohiding-scrollbar; }

@media screen and (max-width:1016px) {
	.caja_origen{ margin-top: 42px;  } 
}

@media (max-width: 947px){
	.resumen { width: 50%;}
}

@media (max-width: 450px){
	.resumen { width: 100%;}
}

/* RESPONSIVE */

@media screen and (max-width:385px) { 
	.btn_reporte{visibility: hidden;}
	.barra{visibility: hidden;} 
	.icono_off {float: right; margin-top: -22px;}
}
@media screen and (max-width:430px) {
	.contenedor_cliente{float: left; margin-left: 23%; padding-top: 10px;}
	.contenedor_titulo{padding-top: 18px; margin-left: 15%; }
	.encabezado{height: 130px;}
}
@media screen and (max-width:1280px) {
	.selectClass{width: 160px;}
}

@media screen and (max-width:1110px) {
	.selectClass{width: 130px;}
	.contenedor_filtrar{width:100%; text-align: center;;} 
	.btn_descargar{  float: none; }
	.btn_filtrar{width:110px;}
}
@media screen and (max-width:910px) {
	.contenedor_filtrar{width: 100%; text-align: center;} 
	.btn_filtrar{width:80px;}
}

@media screen and (max-width:690px) {
	.selectClass{width:160px;}
	.selectClass3{margin:20px 0px 0px 94px;}
	.contenedor_filtrar{width: 100%; text-align: center;} 
	.btn_filtrar{margin:20px 0px 0px 90px;}
}

@media screen and (max-width:690px) {
	.texto_filtrar{clear:both; float:none; margin:0px auto 10px auto; }
	.selectClass{width:60%;clear:both; float:none; margin:0px auto 10px auto;}
	.btn_filtrar{width:60%;clear:both; float:none; margin:0px auto 10px auto;}
}

@media screen and (max-width:400px) {
	.selectClass{width:100%;}
	.btn_filtrar{width:100%;}
}


/* FIN RESPONSIVE */
/* FIN RESPONSIVE */







